:root {
    --prymary: rgb(131, 193, 240)
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;  
    align-items: center;
    margin: auto;
    width: 70vw;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    margin-top: 1.4rem;
    font-size: 0.8rem;
}  

.search {
    display: flex;
    height: 2.5rem;
    /* border: 1px solid red; */
}

.paiInput {
    display: flex;
    justify-content: end;

    width: 9rem;
    border: 1px solid var(--prymary);
    border-radius: 0.4rem 0 0 0.4rem;
}

.search input {
    width: 90%;
    height: 100%;
    outline: none;
    border: none;
    
}

.search button {
    width: 3rem;
    border: none;
    border-radius: 0 0.4rem 0.4rem 0;
    background-color: var(--prymary);

    font-size: 1.5rem;
    font-weight: 500;
}


main {
    width: 100%;
    margin-top: 1rem;
}

.index {
    display: flex;
    justify-content: space-between;

    width: 100%;
    padding: 1.4rem;
    border-radius: 0.3rem 0.3rem 0 0;

    background-color: var(--prymary);
}

.index div {
    display: flex;  
    justify-content: space-around;
    width: 47%;
}



.pessoa {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    padding-right: 2rem;

    align-items: center;
    background-color: rgb(221, 221, 221);
}

.pessoa .img_nome {
    display: flex;
}

.pessoa img {
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    margin-right: 1rem;
}



.numbers {
    display: flex;
    width: 26%;
    justify-content: space-between;
    margin-left: 40%;
    
}

